.App {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 98vh;
  background-image: url("./assets/BG_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: medium;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(206, 227, 240, 0.6);/* semi-transparent background */
  border-radius: 10px;
}