nav {
    background-color: #9e69cf;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .intro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }