.services-heading {
    text-align: center;
    margin-top: 50px;
    padding-top: 70px; /* match navbar height */
}

.services-content {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    background-color: antiquewhite;
    margin-top: 30px;
    font-family: Arial, sans-serif;
    font-size: medium;
    line-height: 1.6;
    font-size: large;
    padding: 30px;
    border-radius: 5%;
}

button {
    background-color: #9e69cf;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: medium;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #410b72;
}

.token-info {
    margin-top: 20px;
    font-weight: bold;
    color: #410b72;
    background-color: rgb(196, 214, 229);
}

.services-list 
.services-token {
    margin: 20px;
    border-radius: 30px;
}

.services-list h2 {
    color: #9e69cf;
}

.services-token {
    background-color: #f0e6f7;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}